/* Navigation styles */
.navigation-bar {
  background-color: #333;
  color: white;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

.navigation-bar .menu {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.navigation-bar .menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation-bar .menu a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.742);
}

/* Slider Styles  */

.light{
  background-color: #fff;
  color: #333;
}

.dark{
  background-color: #333;
  color: #fff;
}

/* Theme Slider Styles  */

.slider-container{
  width: 50px;
  height: 25px;
  background-color: lightgray;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-button{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  transition: left 0.3s ease; /* left horizontal hareketi temsil eder*/
}

.slider-container.dark {
  background-color: darkgray;
}

.slider-container.dark .slider-button{
  left: calc(100% - 22.5px);
}
